body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: #fffba7;
  background-color: #505050;
}

p {
  color: #80ff00;
  font-size: 1.5em;
}

a {
  color: #00a9fe;
  text-decoration: none;
}

a:hover {
  color: #ffa312;
}

pre {
  color: #ffffff;
}

canvas {
  position: absolute;
  top: 0;
}

.absolute {
  position: absolute;
  top: 0;
}

.overlay {
  position: relative;
  margin: 20px;
}

.noscroll {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.6);
}

.modalbox {
  background-color: #404040;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #a0a0a0;
  width: 600px;
}
